 body{
  font-family: "Jua", cursive;
 }
 .hiddendiv {
  display: block;
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
}
.cfix:after{
content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  overflow: hidden;
}
.content >section:nth-child(2n+1){
  background-color: #efebe9  ;
}
section.menu img.menu{
      width: 300px;
  height: 300px;
  object-fit: cover;
    mask-image: radial-gradient(
    circle,
    black 65%,
    transparent 100%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    black 65%,
    transparent 100%
  );
}
nav {
    position: fixed;
    top: 0;
    background:#0D2B45;
    z-index: 1000;
}
section.news div.card{
    max-width:480px;
    margin:0 auto;
}
body{
    padding-top:64px;
}
.page-footer{
    padding:20px 0;
}

    section:not(.home-slider) {
      padding: 80px 0;
    }
    

  /* 이미지 cover 처리 */
  .home-slider .slides li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

.home-slider.fhd {
  
  width: 100%;
  overflow: hidden;
    aspect-ratio: 16 / 9;
  max-height: 100vh; 
}

/* 내부 요소 높이 맞추기 */
.home-slider.fhd .slider,
.home-slider.fhd .slides,
.home-slider.fhd .slides li {
    /* 화면보다 커지지 않게 */
    height:100% !important

}
  /* 네비게이션 고정 시 가림 방지 */


  /* 캡션 가독성 향상 */
body .slider .caption {
     font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: rgba(0, 0, 0, 0.35);
    padding: 24px;
    border-radius: 8px;
  }



:root {
  --pink: #efebe9;
  --pink-dark: #c2c2c2;
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --transparent: rgba(255, 255, 255, 0);
}

.paper-pink {
  --paper-color: var(--pink);
  --paper-dark: var(--pink-dark);
  --shadow-size: 1px;
  --transparent: rgba(236, 178, 186, 0);
}

.paper {
  position: relative;
  background: linear-gradient(
      to bottom right,
      var(--paper-dark),
      20%,
      var(--transparent)
    ),
    var(--paper-color);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
  margin: auto;
  margin-top: 50px;
}

.paper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      var(--transparent),
      50%,
      var(--paper-dark),
      51%,
      var(--transparent)
    ),
    linear-gradient(
      to right,
      var(--transparent),
      50%,
      var(--paper-dark),
      51%,
      var(--transparent)
    );
}

.tape-section {
  position: absolute;
  width: 100%;
}

.top-tape {
  position: absolute;
  height: 4vmin;
  top: -5px;
  width: 110%;
  background-color: var(--tape-gray);
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
  opacity: 0.5;
}

.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before,
.tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.5;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}
section.story>div.container div.body{
      padding: 0 12px;
}
section.history img{
  max-width:100%;
}

@media screen and (max-width: 600px){
    nav .brand-logo{
        font-size: 18px;
    }
    body{
    padding-top:56px;
    }
    .home-slider h3 {
    font-size: 18px;
    
    }
}

